<div class="admin-dashboard">
  <h1>Панель администратора</h1>
  
  <mat-card>
    <mat-card-content>
      <div class="admin-menu">
        <button mat-raised-button color="primary" [routerLink]="['/admin/products']">
          <mat-icon>inventory_2</mat-icon>
          Управление товарами
        </button>
        
        <button mat-raised-button color="accent" [routerLink]="['/admin/orders']">
          <mat-icon>shopping_bag</mat-icon>
          Управление заказами
        </button>
        <button mat-raised-button color="warn" [routerLink]="['/admin/users']">
          <mat-icon>people</mat-icon>
          Управление пользователями
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/admin/coupons']">
          <mat-icon>local_offer</mat-icon>
          Управление купонами
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/admin/loyalty-levels']">
          <mat-icon>star</mat-icon>
          Управление уровнями лояльности
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/admin/reports']">
          <mat-icon>assessment</mat-icon>
          Отчеты
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/admin/sales']">
          <mat-icon>bar_chart</mat-icon>
          Статистика продаж товаров
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/admin/customer-sales']">
          <mat-icon>people</mat-icon>
          Статистика продаж по покупателям
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
