<h2>Статистика продаж по покупателям</h2>
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput [matDatepicker]="pickerFrom" placeholder="С:" formControlName="from">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerTo" placeholder="По:" formControlName="to">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Показать</button>
</form>

<table mat-table [dataSource]="salesData" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Покупатель</th>
    <td mat-cell *matCellDef="let element">{{element.username}}</td>
  </ng-container>

  <ng-container matColumnDef="totalSpent">
    <th mat-header-cell *matHeaderCellDef>Сумма покупок</th>
    <td mat-cell *matCellDef="let element">{{element.totalSpent | currency:'RUB':'symbol-narrow'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
