<h2>{{ dialogTitle }}</h2>
<form [formGroup]="couponForm">
  <mat-form-field appearance="fill">
    <mat-label>Код купона</mat-label>
    <input matInput formControlName="code">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Скидка (RUB)</mat-label>
    <input matInput type="number" formControlName="discount">
  </mat-form-field>

  <mat-checkbox formControlName="active">Активен</mat-checkbox>

  <mat-form-field appearance="fill">
    <mat-label>Действует до</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="expirationDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!couponForm.valid">Сохранить</button>
</div>
